:root {
  --nav-bg: #002761;
  --main-bg: #003293;
  color: white;
  font-size: 0.7rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.body-area {
  display: flex;
}
nav {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20rem;
  background-color: var(--nav-bg);
  padding: 1.5rem;
}
.upper-list {
  list-style: none;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.upper-list > li,
.friend-list > li {
  margin: 1rem;
}
.friend-list {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}
.main-body {
  flex: 1 1 auto;
  background: var(--main-bg);
  padding: 1rem;
}
.main-title {
  font-size: 3rem;
}

.main-search {
  font-size: 2rem;
  border: none;
  padding: 0.2rem;
  border-radius: 1.6rem;
}

.main-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
}
.user-picture {
  width: 2rem;
  height: 2rem;
  background: green;
  border-radius: 1rem;
  margin-right: 1rem;
}
.username {
  font-size: 2rem;
  font-weight: bold;
}

.movie {
  width: 20rem;
  height: 30rem;
  background: yellow;
}
.greenbook {
  background-size: 100% 100%;
  background: cover;
  background-position: center;
  background-image: url("greenbook.jpg");
  height: 100%;
  width: 100%;
}

.main-movie-top {
  display: flex;
  justify-content: space-between;
}

.main-movie-desc {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-movie-desc > h1 {
  font-size: 3rem;
  color: black;
  padding-bottom: 1rem;
}
.main-movie-desc > p {
  color: black;
  font-size: 1.7rem;
}

.button-container {
}
.great-button,
.nope-button {
  border: none;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: white;
  margin: 1rem;
}
.great-button {
  background: green;
}
.nope-button {
  background: red;
}
